@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*=fontawesome-]:before {
  font-family: "FontAwesome", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(247,23,79,1) 0%, #f1502c 65%, #f1502c 100%);
}
a {
  text-decoration: none;
  color: #333;
}

.mt-5{
  margin-top: 8rem !important;
}

#phone {
  width: 320px;
  height: 560px;
  background: #dfdfdf;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#phone:before, #phone:after {
  content: "";
  display: block;
  position: absolute;
  background: #d3d3d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.25);
}
#phone:after {
  left: calc(50% - 20px);
  bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#phone:before {
  left: calc(50% - 20px);
  top: 30px;
  height: 10px;
  width: 50px;
  border-radius: 10px;
}

#app {
  overflow: hidden;
  background: #fff;
  width: 280px;
  height: 420px;
  position: absolute;
  top: calc(50% - 210px);
  left: calc(50% - 140px);
}

#app .header {
  height: 50px;
  margin-bottom: 10px;
  background: #f6f6f6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font: 18px "Open Sans";
  line-height: 30px;
  font-weight: 300;
  color: #ddd;
}
#app .header .top {
  height: 16px;
  position: relative;
  font-family: "Open Sans";
  font-size: 8px;
  line-height: 16px;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
}
#app .header .top .left {
  position: absolute;
  top: 0;
  left: 5px;
}
#app .header .top .center {
  text-align: center;
  font-size: 10px;
}
#app .header .top .right {
  position: absolute;
  top: 0;
  right: 5px;
}
#app .header #battery {
  border: 1px solid #999;
  border-radius: 2px;
  height: 10px;
  width: 20px;
  position: relative;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  right: 0;
  top: 2px;
}
#app .header #battery:before {
  content: "";
  display: block;
  width: 75%;
  height: 100%;
  background: #4d4;
  border: 1px solid transparent;
}

#people,
.person {
  width: 350px;
  height: 430px;
}

#people {
  position: relative;
  margin: 0 600px;
}

.person {
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}
.person:nth-child(1) {
  z-index: 5;
}
.person:nth-child(2) {
  z-index: 4;
  top: 7px;
  transform: scale(0.98);
}
.person:nth-child(3) {
  z-index: 3;
  top: 14px;
  transform: scale(0.96);
}
.person:nth-child(n+4) {
  z-index: 2;
  transform: scale(0.7);
}
.person:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
}

.person img {
  width: 105%;
  background: white;
}

.person span {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  font: 16px "Open Sans";
  line-height: 30px;
  color: #555;
}

.person span strong {
  font-weight: 600;
  color: #000;
}

@keyframes yes {
  0% {
    transform: scale(1) rotateZ(0deg);
    left: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(0deg);
    left: 0;
  }
  100% {
    transform: rotateZ(45deg);
    left: 400px;
  }
}
.animateYes {
  animation-fill-mode: both;
  animation: yes 0.6s linear;
}
.animateYes:before {
  transform: rotateZ(-35deg);
  background: url(https://i.imgur.com/Zkwj970.png) no-repeat center 10px;
}

@keyframes no {
  0% {
    transform: rotateZ(360deg);
    right: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(360deg);
    right: 0;
  }
  100% {
    transform: rotateZ(315deg);
    right: 400px;
  }
}
.animateNo {
  animation-fill-mode: both;
  animation: no 0.6s linear;
}
.animateNo:before {
  transform: rotateZ(35deg);
  background: url(https://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
}

#control {
  position: relative;
  margin: 15px 630px 0;
  width: 250px;
}
#control .button {
  width: 65px;
  height: 65px;
  background: #eee;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger {
  background: white;
  display: block;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger:active {
  transform: translateY(-50%) scale(0.75);
  transition: all 0.05s linear;
}
#control .button .trigger:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-family: "FontAwesome";
}
#control .no {
  left: 38px;
}
#control .no .trigger:before {
  content: "";
  font-size: 28px;
  color: #c33;
}
#control .yes {
  right: 38px;
}
#control .yes .trigger:before {
  content: "";
  font-size: 22px;
  color: #3b7;
}
#control .info {
  left: calc(50% - 23px);
  top: 17px;
  height: 46px;
  width: 46px;
}
#control .info .trigger {
  width: 65%;
  height: 65%;
}
#control .info .trigger:before {
  content: "";
  font-size: 16px;
  color: #3498db;
}

#copy {
  font: 12px "Open Sans";
  color: #ccc;
  position: fixed;
  top: 5px;
  left: 5px;
}
#copy a {
  color: #aaa;
}
.side-bar{
  position: absolute;
  /* padding-top: 60px;
  padding-left: 5px; */
  top:0;
  width: 30%;
  height: 100vh;
}
.icon{
  width: 30px;
  height: 30px;
}
.side-content{
  padding-left: 10px;
  padding-right: 10px;
}

.uimage{
  width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: left;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 230px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card2{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/passions_BingeWatchers_background_catalog_v2.webp);
}

.card1{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/passions_datenight_background_catalog_v2.webp);
}

.card3{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/optin_coffeedate_header_catalog_v5.webp);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top:0rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(var(--d) / 8));
  }
  .content > *:not(.title) {
    opacity: 1;
    transform: translateY(calc(var(--d) / 8));
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
p{
  margin-bottom: 0.2rem !important;
}